<div>
  <a href="/#!/login"><input type="button" value="Logout" ng-click="Logout()"></a>
  <a href="/#!/profile"><input type="button" value="Profile"></a>
  <a href=""><input type="button" value="Plants"></a>
  <a href=""><input type="button" value="Treatments"></a>
</div>

<h3>Field</h3>

<h4>Add a treatment to this field</h4>
{{field.name}}
<fieldset>
  <div>
    <label for="treatmentname">Name</label>
    <input type="text" ng-model="newtreatment.name" placeholder="Treatment" name="treatmentname">
    <input type="text" ng-model="newtreatment.date" placeholder="Date" name="date">
    <input type="button" value="Add Treatment" ng-click="makeTreatment()">
  </div>
</fieldset>
