<h2>{{thing}}</h2>
<div>
<div ng-if="lin">

  <a href="/#!/login"><input class="buttonstyle {{cap}}" type="button" value="Login"></a>
</div>

<div ng-if="usergo">
  <a href="/#!/login"><input class="buttonstyle {{pop}}" type="button" value="Logout" ng-click="Logout()"></a>
  <a href="/#!/profile"><input class="buttonstyle {{pop}}" type="button" value="Profile" ng-click="Profile()"></a>
</div>

</div>
<div>
  <p>Welcome to Orchart, the online field and orchard organizer.<br>
    Please login or visit your profile to view your fields or plants.</p>
