<h2>{{thing}}</h2>
<div>
  <a href="/#!/login"><input class="buttonstyle" type="button" value="Login"></a>
  <a href="/#!/login"><input class="buttonstyle" type="button" value="Logout" ng-click="Logout()"></a>
  <input class="buttonstyle" type="button" value="Profile" ng-click="Profile()">
  <!-- <a href=""><input type="button" value="Fields"></a> -->
  <!-- <a href=""><input type="button" value="Plants"></a> -->
  <!-- <a href=""><input type="button" value="Treatments"></a> -->
</div>
<div>
  <p>Welcome to Orchart, the online field and orchard organizer.<br>
    Please login or visit your profile to view your fields or plants.</p>
